<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header class='header'>
      <div class='header__title title'>
        <h1 class='title__text'><%= title %></h1>
      </div>
    </header>
    <main class='main'>
      <section class='main__contents contents'>
        <header class='contents__header header'>
          <h2 class='header__text'>一覧</h2>
        </header>
        
      </section>
      <nav class='main__nav nav'>
        <ul>
          <li><a href='#'>新規作成</a></li>
        </ul>
      </nav>
    </main>
    <footer class='footer'>
      
    </footer>
  </body>
</html>
